# Dependencies
node_modules/
.DS_Store

# Environment
.env
.env.local

# Build
dist/
build/

# Database
server/prisma/dev.db
server/prisma/dev.db-journal

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
client/public/videos/
